*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    /*background-color: #f17cb797;*/
    background: linear-gradient(to bottom, #fce4ec, #f8bbd0, #f48fb1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 2em;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}
.contenedor {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 90%;
}
.contenedor h1 {
    font-size: 1.5rem;
    color: #c71c77;
    text-align: center;
    margin-bottom: 1.5rem;
}
label {
    display: block;
    margin-top: 1rem;
    font-weight: bold;
    color: #000000;
}
input, select {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.3rem;
    border-radius: 6px;
    border: 1px solid #ccc;
}
button {
    background-color: #f06292;
    color: white;
    font-weight: bold;
    padding: 0.7rem;
    border: none;
    border-radius: 6px;
    margin-top: 1.5rem;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #ec407a;
}
.resultado {
    margin-top: 2rem;
    font-size: 1.1rem;
    color: #000000;
    text-align: center;
}
.boton-secundario {
    background-color: #f0457e8a;
    color: white;
    font-weight: bold;
    padding: 0.7rem;
    border: none;
    border-radius: 6px;
    margin: 1rem auto;
    display: block;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.boton-secundario:hover {
    background-color: #ec407a;
}
.botones-secundarios {
    text-align: center;
    margin-top: 2rem;
}